<%- include('./templates/header')%>

<link rel="stylesheet" href="/styles/dash_style.css" />
<title>Dashboard</title>
</head>
<body>
  <%- include('./templates/navigation')%>
<%- include('./templates/footer')%>
