<nav>
  <div class="nav-top" style="margin-top: 1em">
    <h5 style="text-align: center; color: black">User: <%= locals.user %></h5>
    <div>
      <a href="/users/dashboard">
        <button type="button" class="btn btn-light">
          <img src="/icons/home.png" alt="" />
          <h5>Dashboard</h5>
        </button></a
      >
    </div>
    <div>
      <a href="/users/guest-password">
        <button
          class="btn btn-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDarkDropdown"
          aria-controls="navbarNavDarkDropdown"
        >
          <img src="/icons/reception.png" alt="" />
          <h5>Reception</h5>
        </button></a
      >
    </div>
    <% if (locals.role === "ADMIN") { %>
    <div>
      <a href="/users/register">
        <button type="button" class="btn btn-light">
          <img src="/icons/admin.png" alt="" />
          <h5>Admin</h5>
        </button></a
      >
    </div>
    <% } %>
  </div>
  <div>
    <div>
      <a href="/users/support">
        <button type="button" class="btn btn-light">
          <img src="/icons/support.png" alt="" style="width: 30px" />
          <h5>Support</h5>
        </button></a
      >
    </div>
    <div>
      <a href="/users/logout">
        <button type="button" class="btn btn-light">
          <img src="/icons/logout.png" alt="" style="width: 30px" />
          <h5>Log Out</h5>
        </button></a
      >
    </div>
  </div>
</nav>
