main {
  width: 70%;
  position: absolute;
  top: 10%;
  right: 5%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

th,
td {
  border: 1px solid rgb(214, 214, 214);
  text-align: center;
}
